<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css"/>
    <link rel="stylesheet" href="../styles/normalize.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap" rel="stylesheet"> 
    <title>Maintenance app</title>
</head>
<body>
    <h1>Maintenance <b>Software</b></h1>
    <div class="functions-container">
        <div class="function-container">
            Chequeo de disco
        </div>
        <div class="function-container">

        </div>
    </div>
</body>
</html>